.App {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 0 auto;
  padding: 48px 24px 80px;
}

.card{
  border: 1px solid black;
  border-radius: 8px;
  padding: 28px 32px;
}

.module-label{
  margin-bottom: 12px;
  font-size: 20px;
}


/* Component 1/Module 1: HelloWorld */
.hello-world{
  text-align: center;
  padding: 40px 32px;
}
